@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
  box-sizing: border-box;
}
.my-titles,
h4 {
  font-family: 'Roboto Slab', serif;
  font-weight: 800;
  letter-spacing: 0.05rem;
}
p {
  font-family: 'Open Sans', sans-serif;
  color: #c2cbcf;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
  font-size: 1rem;
}
.tech-icon {
  width: 100%;

  margin-bottom: 2rem;
  color: rgb(90, 119, 143);
}
.profile-picture {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  border-radius: 50%;
  opacity: 0.6;
}
/* Disable grayscale on hover */
.profile-picture:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}
.my-quotes {
  background-color: #2f3e46;
  color: rgb(165, 177, 177);
}
