* {
  box-sizing: border-box;
}

.tech-icon {
  width: 100%;

  margin-bottom: 2rem;
  color: rgb(90, 119, 143);
}
.profile-picture {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  border-radius: 50%;
  opacity: 0.6;
}
/* Disable grayscale on hover */
.profile-picture:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}
.my-quotes {
  background-color: #2f3e46;
  color: rgb(165, 177, 177);
}
